<header id="main-header" class="py-2 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fa fa-pencil"></i> Book Inventory</h1>
      </div>
    </div>
  </div>
</header>

<!-- BOOK INVENTORY -->
<div class="container card-body">
  <div class="table-responsive">

    <table id="booksTable" class="display table table-striped data-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Category</th>
          <th>Stock</th>
          <th>Edit</th>
        </tr>
      </thead>
    </table>
  </div>
</div>