<!--DASHBOARD SECTION-->
<header id="main-header" class="py-2 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fa fa-gear"></i> Dashboard</h1>
      </div>
    </div>
  </div>
</header>

<!-- POSTS -->
<section id="posts" class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header text-center">
            <h4>Recent User Activities</h4>
          </div>
          <table id="activitiesTable" class="table table-striped">
            <thead class="thead-inverse">
              <tr>
                <th>Info</th>
                <th>Category</th>
                <th>Date Posted</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card text-center bg-primary text-white p-3 mb-3">
          <div class="card-block">
            <h3>Books</h3>
            <h1 class="display-4"><i class="fa fa-pencil"></i> <%=books_count%></h1>
            <a href="/admin/bookInventory/all/all/1" class="btn btn-outline-light">View</a>
          </div>
        </div>

        <div class="card text-center bg-success text-white p-3 mb-3">
          <div class="card-block">
            <h3>Users</h3>
            <h1 class="display-4"><i class="fa fa-users"></i> <%=users_count%></h1>
            <a href="/admin/users/1" class="btn btn-outline-light">Users</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>