<% include ../partials/header %>

    
<!--NAVIGATION BAR FOR ADMIN-->
<% include ../partials/adminNav %>


<header id="main-header" class="py-2 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fa fa-user"></i> Profile</h1>
      </div>
    </div>
  </div>
</header>

<!-- PROFILE DETAILS -->
<section id="profile" class="py-4 mb-4 bg-faded">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <a href="/admin" class="btn btn-secondary btn-block">
          <i class="fa fa-arrow-left"></i> Back To Dashboard
        </a>
      </div>
      
       <div class="col">
        <a href="" class="btn btn-primary btn-block" data-toggle="modal" data-target="#userNameModal">
          <i class="fa fa-user"></i> Edit Profile
        </a>
      </div>

      <div class="col">
        <a href="" class="btn btn-warning btn-block" data-toggle="modal" data-target="#passwordModal">
          <i class="fa fa-lock"></i> Update Password
        </a>
      </div>
      
       <div class="col">
        <a href="/auth/admin-signup" class="btn btn-success btn-block">
          <i class="fa fa-plus"></i> Add New Admin
        </a>
      </div>
      
       <div class="col">
        <a href="/admin/delete-profile" class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteProfileModal">
          <i class="fa fa-close"></i> Delete Account
        </a>
      </div>
      
    </div>
  </div>
</section>


<!-- PROFILE EDIT -->
<section id="profile-edit">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mx-auto">
        <div class="card p-3">
          <div class="card-header">
            <h4>Admin Info</h4>
          </div>
          <div class="card-block">
            <p>User name : <%=currentUser.username%></p>
            <p>Email : <%=currentUser.email%></p>
          </div>
        </div>
      </div>
</section>


<!-- PROFILE MODAL -->
<div class="modal fade" id="passwordModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-warning text-white">
        <h5 class="modal-title" id="passwordModalLabel">
          Edit Password
        </h5>
        <button class="close" data-dismiss="modal" ><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <form action="/admin/update-password?_method=PUT" method="POST">
          <div class="form-group">
            <label for="password" class="form-control-label">Old Password</label>
            <input type="password" name="oldPassword" class="form-control">
          </div>
          <div class="form-group">
            <label for="password" class="form-control-label">New Password</label>
            <input id="password" type="password" name="password" class="form-control">
          </div>

          <div class="form-group">
            <label for="password" class="form-control-label">Confirm Password</label>
            <input id="confirmPassword" type="password" name="confirmPassword" class="form-control">
             <span id='message'></span>
          </div>
          <button id="button" class="btn btn-warning btn-block">Submit</button>
        </form>
      </div> 
    </div>
  </div>
</div>

<!--USER MODAL-->
<div class="modal fade" id="userNameModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="passwordModalLabel">
          Edit Profile
        </h5>
        <button class="close" data-dismiss="modal" ><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <form action="/admin/profile" method="POST">
          <div class="form-group">
            <label for="admin[username]" class="form-control-label">Edit Username</label>
            <input name="admin[username]" type="text" class="form-control" value="<%=currentUser.username%>">
          </div>
          
          <div class="form-group">
            <label for="admin[email]" class="form-control-label">Edit Email</label>
            <input name="admin[email]" type="email" class="form-control" value="<%=currentUser.email%>">
          </div>
          <button class="btn btn-primary btn-block">Update!</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Delete Profile Modal-->
<div class="modal fade" id="deleteProfileModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="deleteProfileModalLabel">
          Once you press yes, you will lose the admin facility permanently. Are you sure?
        </h5>
        <button class="close" data-dismiss="modal" ><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <form action="/admin/delete-profile?_method=DELETE" method="POST">
          
          <input type="submit" value="Yes" class="btn btn-danger btn-block m-1">
          
        </form>
        <input type="button" value="No" data-dismiss="modal" class="btn btn-success btn-block m-1">
      </div> 
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $('#confirmPassword').on('keyup', function () {
    if ($(this).val() == $('#password').val()) {
      $('#message').html('Matched').css('color', 'green');
      $('#button').removeClass("d-none")
    } 
    else{
      $('#message').html('Not matched!').css('color', 'red');
      $('#button').addClass("d-none");
    }
});
</script>

<% include ../partials/footer %>