<% include partials/header %>
    <body>
        
        <div class="container">
             <h1 class="text-center">Welcome To Library Management System</h1>
             
            <div class="row mt-5">
                <div class="col-md-5 mx-auto text-center p-4">
                    <div class="mt-3">
                        <a href="/adminLogin" class="btn btn-block btn-info">Admin Login</a>
                    </div>
                    
                     <div class="mt-3">
                        <a href="/userLogin" class="btn btn-block btn-info">User Login</a>
                    </div>
                    
                     <div class="mt-3">
                        <a href="/signup" class="btn btn-block btn-info">User Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
       
<% include partials/footer %>