<% include ../partials/header %>

<!--NAVIGATION BAR FOR ADMIN-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
   <div class="container">
      <a class="navbar-brand" href="/user">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item  px-2">
            <a class="nav-link" href="/books">Browse Books</a></a>
          </li>
          
          <!-- <li class="nav-item px-2">-->
          <!--  <a class="nav-link" href="/admin/bookInventory">Issue Book</a>-->
          <!--</li>-->
          
          <!-- <li class="nav-item px-2">-->
          <!--  <a class="nav-link" href="/admin/users">Users</a>-->
          <!--</li>-->
          
          </ul>
          
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown mr-3">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> Welcome Azad
              </a>
              <div class="dropdown-menu">
                <a href="/user/profile" class="dropdown-item">
                  <i class="fa fa-user-circle"></i> Profile
                </a>
    
                <a href="/logout" class="dropdown-item">
                  <i class="fa fa-user-times"></i> Logout
                </a>
              </div>
            </li>
            
            <li class="nav-item">
                <a href="/user/notification" class="nav-link">
                    <i class="fa fa-bell"></i><span class="badge badge-danger badge-pill">2</span>
                </a>
            </li>
          </ul>
      </div>
  </div>
</nav>

<!--DASHBOARD SECTION-->
<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fa fa-user"></i> Profile</h1>
      </div>
    </div>
  </div>
</header>

<!--ACTIONS-->
<section id="actions" class="py-4 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mr-auto">
          <a href="/user" class="btn btn-light btn-block">
          <i class="fa fa-arrow-left"></i> Back To Dashboard
        </a>
      </div>
      
      <div class="col-md-3">
        <a href="" class="btn btn-primary btn-block" data-toggle="modal" data-target="#changePasswordModal">
          <i class="fa fa-key"></i> Change Password
        </a>
      </div>
      
      <div class="col-md-3">
        <a href="" class="btn btn-warning btn-block" data-toggle="modal" data-target="#updateProfileModal">
          <i class="fa fa-refresh"></i> Update Profile
        </a>
      </div>
      
      <div class="col-md-3">
        <a href="" class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteProfileModal">
          <i class="fa fa-remove"></i> Delete Profile
        </a>
      </div>
    </div>
  </div>
</section>

<!--PROFILE-->
<section class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                  <img src="/image/profile.jpg" class="card-img-top rounded-circle">
                  <a href="" class="text-muted ml-5" data-toggle="modal" data-target="#changePhotoModal"><i class="fa fa-camera"></i> Change Photo</a>
            </div>
            <div class="col-md-6">
                <h4 class="text-center pb-3">Personal Informations</h4>
                
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">First Name :   Azad</li>
                  <li class="list-group-item">Last Name :   Mamun</li>
                  <li class="list-group-item">Username :   azad71</li>
                  <li class="list-group-item">Joined :    11-12-13</li>
                  <li class="list-group-item">Department :   CSE </li>
                  <li class="list-group-item">Email :   azad71@gmail.com </li>
                  <li class="list-group-item">Address :  Block-A, Meraj Nogor, Kodomtoli, Dhaka-1362  </li>
                  <li class="list-group-item text-danger font-weight-bold">Violation Flag :   None </li>
                  <li class="list-group-item">Due Fines :   $6.25</li>
                </ul>
            </div>
            
            <div class="col-md-3">
                <h4 class="text-center pb-3">Terms & Conditions</h4>
                <ul>
                    <li>Rule x should be abided by everyone</li>
                    <li>Rule x should be abided by everyone</li>
                    <li>Rule x should be abided by everyone</li>
                    <li>Rule x should be abided by everyone</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--Change Password Modal-->
<div class="modal fade" id="changePasswordModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="passwordModalLabel">
          Edit Password
        </h5>
        <button class="close" data-dismiss="modal" ><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="password" class="form-control-label">Old Password</label>
            <input type="password" class="form-control">
          </div>
          <div class="form-group">
            <label for="password" class="form-control-label">New Password</label>
            <input type="password" class="form-control">
          </div>

          <div class="form-group">
            <label for="password" class="form-control-label">Confirm Password</label>
            <input type="password" class="form-control">
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" data-dismiss="modal">Save Changes</button>
      </div>
    </div>
  </div>
</div>

<!--Update Profile Modal-->
<div class="modal fade" id="updateProfileModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-warning text-white">
        <h5 class="modal-title" id="updateProfileModalLabel">
          Edit Profile
        </h5>
        <button class="close" data-dismiss="modal" ><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="firstName" class="form-control-label">Firs Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="lastName" class="form-control-label">Last Name</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="username" class="form-control-label">Pick a username</label>
            <input type="text" class="form-control">
          </div>
          
          <div class="form-group">
            <label for="email" class="form-control-label">Email</label>
            <input type="email" class="form-control">
          </div>
          
          <div class="form-group">
            <label for="password" class="form-control-label">Password</label>
            <input type="password" class="form-control">
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-warning" data-dismiss="modal">Save Changes</button>
      </div>
    </div>
  </div>
</div>

<!--Change Photo Modal-->
<div class="modal fade" id="changePhotoModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="passwordModalLabel">
          Change Photo
        </h5>
        <button class="close" data-dismiss="modal" ><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="photo" class="form-control-label">Change Photo</label>
            <input type="file" class="form-control">
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" data-dismiss="modal">Save Changes</button>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>