<% include ../partials/header %>

<section id="usersignUpForm">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header text-center">
            <h4>User Sign Up</h4>
          </div>
            <div class="card-block">
              <form class="p-3" action="/auth/user-signUp" method="POST">
                  
                <div class="form-group">
                  <label class="form-control-label">First Name</label>
                  <input type="text" name="firstName" placeholder="firstName" class="form-control" required>
                </div>
                
                 <div class="form-group">
                  <label class="form-control-label">Last Name</label>
                  <input type="text" name="lastName" placeholder="lastName" class="form-control" required>
                </div>
                  
                <div class="form-group">
                  <label class="form-control-label">Pick a username</label>
                  <input type="text" name="username" placeholder="Username" class="form-control" required>
                </div>
                
                <div class="form-group">
                  <label class="form-control-label">Email</label>
                  <input type="email" name="email" placeholder="Email" class="form-control" required>
                </div>
                
                <div class="form-group">
                  <label class="form-control-label">Password</label>
                  <input type="password" name="password" placeholder="Password" class="form-control" required>
                </div>
                
                 <div class="form-group">
                  <label class="form-control-label">Gender</label>
                  <select name="gender" class="form-control" >
                    <option name="male">Male</option>
                    <option name="female">Female</option>
                    <option name="others">Others</option>
                  </select>
                </div>
                
                 <div class="form-group">
                  <label class="form-control-label">Address</label>
                  <input type="text" name="address" placeholder="Address" class="form-control" required>
                </div>
                
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>


<% include ../partials/footer %>