<%- include ('./partials/header.html') %>

</head>

<body>

<!-- ALERTS -->
<%- include ('./partials/alerts.html') %>

<section id="usersignUpForm">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header text-center">
            <h4>Admin Sign Up</h4>
          </div>
          <div class="card-block">
            <form class="p-3" action="/auth/admin-signup" method="POST">
              <div class="form-group">
                <label class="form-control-label">Pick a username</label>
                <input type="text" name="username" placeholder="Username" class="form-control" required />
              </div>

              <div class="form-group">
                <label class="form-control-label">Email</label>
                <input type="email" name="email" placeholder="Email" class="form-control" required />
              </div>

              <div class="form-group">
                <label class="form-control-label">Password</label>
                <input type="password" name="password" placeholder="Password" class="form-control" required />
              </div>

              <div class="form-group">
                <label class="form-control-label">Secret Code</label>
                <input type="text" name="adminCode" placeholder="Enter the secret code" class="form-control" required />
              </div>

              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ('./partials/footer.html') %>
